*{
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

#titulo {
    font-size: 4vw;
    margin-top: 0px;
    text-align: center;
    color: white;
}

hr{
    margin-bottom:5vw
}

body{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

main {
    margin: 10%;
    text-align: center;
    width: auto;
    background-color: rgb(8, 26, 37);
    padding: 5%;
    padding-bottom: 10%;
    border-radius: 2vw;
}

button{
    width: 8%;
    height: 6vw;
    padding: 1% 0%;
    margin: 0.3%;
    background-color: rgb(32, 149, 178);
    border:none;
    border-radius: 50%;
    color: white;
    font-size: 3vw;
    transition: background-color 0.2s ease-in-out;

}
#clear {
    background-color:rgb(255, 174, 0);
    margin-top: 1vw;
}

#delete{
    background-color:rgb(255, 145, 0);
    font-size: 2.5vw;
}

#igual {
    background-color: rgb(235, 55, 0);
}

#sumar, #restar, #multiplicar, #dividir, #raiz, #potencia{
    background-color: rgb(60, 0, 138);
}

input{
    color: white;
    font-size: 3vw;
    padding: 0% 4%;
    width: 28%;
    height: 6vw;
    border-radius: 10vw;
    margin-bottom: 2%;
    background-color: rgb(102, 0, 116);
    border: none;
    box-shadow: 0px 0px 2px 3px rgb(126, 126, 126);
}

#igual:hover, button:hover, #sumar:hover, #restar:hover,#raiz:hover, #multiplicar:hover, #dividir:hover, #clear:hover{
    background-color: white;
    color: black;
    transition: all 0.2s ease-out
}
