*{
    font-family: montserrat, Arial, Helvetica, sans-serif;
}

p{
    font-size: 2vw;
}

h3{
    font-size: 2.5vw;
}

body{
    background-color: rgb(238, 238, 238);
}

main {
    color: rgb(0, 0, 0);
    text-align: center;
    width: auto;
    padding: 5%;
    margin: 10%;
    border-radius: 1vw;
}

#titulo{
    font-size: 4vw;
    background-color: rgb(251, 155, 0);
    width: fit-content;
    padding: 1vw 1.5vw;
    border-radius: 3vw;
    color: white;
    margin:auto;
}

#debajoDeTitulo{
    color: rgb(0, 0, 0);
    font-size: 2vw;
    margin-top: 0;
}

#listaHerramientasPrincipal, #listaHerramientasPrincipal a{
    text-align: left;
    font-size: 2vw;
    text-decoration: none;
    color:white;
    list-style: none;
    border-radius: 3vw;
    padding: 1.5vw;
    background-color: rgb(251, 155, 0);;
}
p{
    text-align: left;
}